.table-container
  - if users.empty?
    .error-message.text-center
      .glyphicon.glyphicon-exclamation-sign{aria: {hidden: 'true'}}
      = t('.no_users_found')
  - else
    %table.table
      - users.each do |user|
        %tr{id: "js-followings-user-#{user.id}"}
          %td
            = user.name
          %td
            = user.email
          %td.js-toggle-follow
            = toggle_follow_button current_user, user