.entry.js-entry.panel.panel-default{id: "id-#{entry.id}", class: read?(entry)}
  #headingOne.panel-heading{:role => "tab"}
    .panel-title
      %a.collapsed{"aria-controls" => "collapse#{entry.id}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{entry.id}"}
        .row
          .col-xs-5
            .name.pull-left
              = truncate entry.name, length: 40
          .col-xs-5
            %span.published-at
              = time_ago_in_words entry.published_at
            = '/'
            %span
              = link_to entry.feed.category, category_path(entry.feed.category)
            = '/'
            %span
              = link_to entry.feed, feed_path(entry.feed)
          .col-xs-2
            = read_link(entry)
            = favorite_link(entry)
          .col-xs-12
  .panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "collapse#{entry.id}"}
    .panel-body.summary
      = raw entry.summary
      = link_to t('.view_website'), entry.url