.dashboard
  .row
    .col-xs-1
      = render 'feeds/modal_new_feed_form', feed: @feed
    .col-xs-11
      .row
        %span.js-category-form
          = render 'category_choice_form', category: @category
        %span.js-entries-search-form
          = render 'entries_search_form', q: @q, feeds: @feeds, category: @category
.entries.js-entries
  - if @entries.empty?
    -# .alert.alert-info{role: 'alert'}
    .error-message.text-center
      .glyphicon.glyphicon-exclamation-sign{aria: {hidden: 'true'}}
      = t('.no_entries_found')
  - else
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      = render 'entries', entries: @entries

= content_for :bottom_js do
  = javascript_include_tag "entries/entries"