%h1
  = t('.important_topic_mentioned_in_entry')

- @notifications.each do |notification|
  - unless notification[:entries].empty?
    %h3
      = t('.feed', feed: notification[:feed].name)
    = link_to t('.deactivate_notifications'), notifications_url(id: notification[:feed].id), target: '_blank'
    %br
    - notification[:entries].each do |entry|
      %h5
        = raw entry.title 
      = raw entry.summary 
      = raw entry.content
      %br
      = link_to t('.view_website'), entry.url, target: '_blank'
    %hr