%h1
  = t('.important_topic_mntioned_in_entry')

#content
  .entries
    =# render 'entries/entry', entry: @entry
Title: 
= raw @entry.name
Summary: 
= raw @entry.summary
Content: 
= raw @entry.content
URL: 
= link_to @entry.url

= link_to t('.case_you_want_to_deactivate_notification'), notifications_url(id: @entry.feed.id), target: '_blank'