%h3
  = t('.general_notifications')
%p
  = t('.turn_general_user_level_notifications')
= simple_form_for user, url: url_for(action: 'update', controller: 'users/registrations'), method: :put, remote: true do |f|
  .checkbox-group
    .row
      .col-xs-12
        = f.input :notify_new_follower, as: :boolean, wrapper_html: {class: 'form-group'}
    .row
      .col-xs-12
        = f.input :notify_site_updates, as: :boolean, wrapper_html: {class: 'form-group'}
    .row
      .col-xs-12
        = f.input :notify_important_topics, as: :boolean, wrapper_html: {class: 'form-group'}
  .row
    .col-xs-2.col-xs-offset-10
      %button.btn.js-submit
        = t('.apply')