%h2 
  = t('.already_got_an_account')
= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: {novalidate: true, class: 'form-inline' } do |f|
  .form-inputs.form-group
    .paddings
      .row
        .col-md-6.col-sm-8.col-xs-12
          = f.input :email, required: false, autofocus: controller_name == 'sessions', label: false, placeholder: User.human_attribute_name(:email), input_html: {class: 'form-control'}
        .col-md-6.col-sm-4.col-xs-12
          = f.input :remember_me, as: :boolean, label: t('.remember_me'), input_html: {class: 'form-control checkbox'} if devise_mapping.rememberable?
      .row
        .col-md-6.col-xs-12
          = f.input :password, required: false, label: false, placeholder: User.human_attribute_name(:password), input_html: {class: 'form-control'}
        .col-md-6.col-xs-12
          = f.button :submit, t('.sign_in'), class: 'btn btn-default btn-primary'
          = render "devise/shared/links"
