.subpanel
  .row
    .col-xs-1
      - if category.feeds.any?
        .icon{data: {toggle: "collapse", target: "#category-feeds#{category.id}"}, aria: {expanded: "false", controls: "collapseExample"}}
          a
    .col-xs-10
      %span.title{data: {toggle: "tooltip", placement: "top"}, title: category_title(category)}
        = link_to category.name, edit_category_path(category), remote: true
    .col-xs-1
      = link_to category_path(category), method: :delete, remote: true do
        .btn.icon.delete-btn
          e
    .feeds.row.collapse{id: "category-feeds#{category.id}"}
      - category.feeds.each do |feed|
        .col-xs-1
          = link_to feed_path(feed), method: :delete, remote: true do
            .icon.small
              e
        .col-xs-11
          = feed.name
