.secondary-view
  .panel
    .row
      .col-xs-8.col-xs-offset-2
        %h2
          = t('.categories')
        %p
          = t('.create_a_new_category')
        .box
          .js-category-form-container
            = render 'category_form', category: @category
        .box
          %h3 
            = t('.list')
          .js-categories-list-container
            = render 'categories_list', categories: @categories

= content_for :bottom_js do
  = javascript_include_tag "categories/categories"