.secondary-view
  .panel
    .row
      .col-xs-8.col-xs-offset-2
        %h2
          = t('.categories')
        %p
          = t('.create_a_new_category')
        .box
          %h3
            = t('.new')
          = render 'category_form', category: @category
        .box
          %h3 
            = t('.list')
          .pre-scrollable
            - @categories.each do |category|
              = render 'category', category: category