.secondary-view
  .panel
    .row
      .col-xs-8.col-xs-offset-2
        %h2
          = t('.categories')
        %p
          = t('.create_a_new_category')
        .box
          %h3
            = t('.new')
          = render 'category_form', category: @category
        .box
          %h3 
            = t('.list')
          .js-categories-list-container
          = render 'categories_list', categories: @categories