.secondary-view
  .panel
    .row
      .col-xs-8.col-xs-offset-2
        %h2
          = t('.filters')
        %p
          = t('.filter_out_certain_entries')
        .box
          .js-selection-form
            = render 'feed_selection', feeds: @feeds, feed: @feed
        .js-filter-form.js-form-container
          = render 'filter_form', filter: @filter

= content_for :bottom_js do
  = javascript_include_tag "filters/filters"