#aside
  .row
    .col-xs-12
      .box
        %ul.nav.nav-pills.nav-stacked
          %li
            %a.text-center{href: "#"}
              = t('.feeds')
          %li
            %a.text-center{href: "#"}
              = t('.saved')
          %li
            %a.text-center{href: "#"}
              = t('.categories')
          %li
            %a.text-center{href: "#"}
              = t('.filters')
          %li
            %a.text-center{href: "#"}
              = t('.notifications')
  .row
    .col-xs-12
      .box
        .title.text-center
          %span
            = t('.following')
          .btn.sidebar-btn.icon
            g
        .follow-panel.pre-scrollable
          // repeat for every user {
          .row.user
            .col-xs-9.name
              John
            .col-xs-2
              .btn.sidebar-btn.icon
                e
          // }
          .row.user
            .col-xs-9.name
              Pablo
            .col-xs-2
              .btn.sidebar-btn.icon
                e