#aside
  .row
    .col-xs-12
      .box
        %ul.nav.nav-pills.nav-stacked
          %li
            = sidebar_link_to 'entries', controller_name
          %li
            = sidebar_link_to 'categories', controller_name
          %li
            = sidebar_link_to 'filters', controller_name
          %li
            = sidebar_link_to 'notifications', controller_name
  .row
    .col-xs-12
      .box.last
        .title.text-center
          %span
            = t('.following')
            = sidebar_link_to 'followings', controller_name do
              .btn.icon
                g
        .follow-panel.pre-scrollable
          - if followings.empty?
            .error-message.text-center.top-spacing-2
              .glyphicon.glyphicon-exclamation-sign{aria: {hidden: 'true'}}
              = t('.no_followings_found')
          - else
            - followings.each do |following|
              .row.user
                .col-xs-9.name
                  = following.followed
                .col-xs-2
                  = link_to following_path(id: following.id), method: :delete do
                    .btn.sidebar-btn.icon
                      e