#aside
  .row
    .col-xs-12
      .box
        %ul.nav.nav-pills.nav-stacked
          %li
            = sidebar_link_to 'entries', controller_name
          %li
            = sidebar_link_to 'categories', controller_name
          %li
            = sidebar_link_to 'filters', controller_name
          %li
            = sidebar_link_to 'notifications', controller_name
  .row
    .col-xs-12
      .box.last
        .title.text-center
          %span
            = t('.following')
            = sidebar_link_to 'followings', controller_name do
              .btn.icon
                g
        .follow-panel.pre-scrollable.js-followed-users-container
          = render 'layouts/followed_users', followings: followings