#header
  .row
    .col-xs-3
      .logo
        = image_tag "flavicon.svg", class: 'img-responsive'
    .col-xs-9
      .row
        .col-xs-9
          .row.brand
            .col-xs-6.col-xs-offset-4
              = image_tag "brand.svg", class: 'img-responsive'
              %p.text-center
                = t('.simple_feed_aggregator_with')
        .col-xs-3.dropdown
          .btn.pull-right.dropdown-toggle#user-dropdown{data: {toggle: "dropdown"}}
            %span
              = current_user.name
            %span.icon
              b
          %ul.dropdown-menu.dropdown-menu-right{aria: {labelledby: "user-dropdown"}}
            %li
              = link_to t('cancel_account'), user_registration_path, method: :delete, data: {confirm: t('.are_you_sure')}
            %li
              = link_to t('.sign_out'), destroy_user_session_path, method: :delete