!!!
%html
  %head
    %title Socialfeed
    = stylesheet_link_tag    "https://fontastic.s3.amazonaws.com/YN9AsVbeGCpXoa9jACAAXF/icons.css"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    -# - if notice
    -#   %p.notice
    -#     = notice
    -# - if alert
    -#   %p.alert
    -#     = alert
    
    .main-container
      .container-fluid
        = render 'layouts/header'
        .row
          .col-xs-3
            = render 'layouts/aside'
          .col-xs-9
            #content
              = yield
        = render 'layouts/footer'

    = yield :bottom_js